In [1]:
# %pip install pandas, finnhub-python, yfinance

In [2]:
# you need a finnhub api key, save in .env as FINNHUB_API_KEY=....

tickers = ['AAPL', 'TSLA', 'JPM', 'V']
from_, to_ = '2023-01-01', '2024-01-01'

# 1. finnhub

get company info, check documentation: [here](https://github.com/Finnhub-Stock-API/finnhub-python)

### company news

In [3]:
import pandas as pd

In [4]:
from lionhub.data_source.finnhub import FinnHub as finn

dfs = [
    finn.get_info_df(info_kind="company_news", symbol=ticker, _from=from_, to=to_) 
    for ticker in tickers
]

dfs_news = pd.concat(dfs)
dfs_news.drop_duplicates(subset=['headline'], inplace=True, ignore_index=True)

In [5]:
dfs_news.head()

,category,datetime,headline,id,image,related,source,summary,url
0,company,1704135614,Buffett's Bullseye: Meet The 4 Stocks That Mak...,124796717,https://media.zenfs.com/en/Benzinga/9437497f5f...,AAPL,Yahoo,Legendary investor Warren Buffett has long pre...,https://finnhub.io/api/news?id=d1fec8e1b6865f2...
1,company,1704135600,"Apple: Accept The Gift, Move On",124798905,https://static.seekingalpha.com/cdn/s3/uploads...,AAPL,SeekingAlpha,Apple's stock rally in 2023 appears unjustifie...,https://finnhub.io/api/news?id=87006add4f77d76...
2,company,1704115260,"Investing Preview 2024: Buy These 4 ""Magnifice...",124794139,https://g.foolcdn.com/editorial/images/759138/...,AAPL,Yahoo,"The ""Magnificent Seven"" stocks have varying va...",https://finnhub.io/api/news?id=bde2935c2d3afab...
3,company,1704112200,"Which ""Magnificent Seven"" Stocks Are Screaming...",124794142,https://g.foolcdn.com/editorial/images/758678/...,AAPL,Yahoo,Only three of the seven make the cut as buys a...,https://finnhub.io/api/news?id=f223266eaef9e60...
4,company,1704109200,10 Information Technology Stocks With Whale Al...,124796069,,AAPL,Benzinga,Looking for stock market analysis and research...,https://finnhub.io/api/news?id=2472b688f93a741...

### company profile

In [6]:
dfs = [
    finn.get_info_df(info_kind="filings", symbol=ticker) 
    for ticker in tickers
]

dfs_profiles = pd.concat(dfs)

In [7]:
dfs_profiles.head()

,accessNumber,symbol,cik,form,filedDate,acceptedDate,reportUrl,filingUrl
0,0000320193-23-000113,AAPL,320193,4,2023-12-01 00:00:00,2023-12-01 18:32:18,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
1,0000320193-23-000111,AAPL,320193,4,2023-11-20 00:00:00,2023-11-20 18:31:21,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2,0000320193-23-000109,AAPL,320193,4,2023-11-14 00:00:00,2023-11-14 18:31:09,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
3,0000320193-23-000106,AAPL,320193,10-K,2023-11-03 00:00:00,2023-11-02 18:08:27,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
4,0000320193-23-000104,AAPL,320193,8-K,2023-11-02 00:00:00,2023-11-02 16:30:32,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...

# 2. yfinance

In [8]:
from lionhub.data_source.yfinance import get_stock_prices

histories = [
    get_stock_prices(ticker, start_date=from_, end_date = to_) 
    for ticker in tickers
    ]

In [9]:
histories[0]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-03 00:00:00-05:00,129.555841,130.172390,123.479803,124.374802,112117500,0.0,0.0
2023-01-04 00:00:00-05:00,126.184691,127.944857,124.384755,125.657639,89113600,0.0,0.0
2023-01-05 00:00:00-05:00,126.423345,127.059787,124.066524,124.325073,80962700,0.0,0.0
2023-01-06 00:00:00-05:00,125.309579,129.565780,124.195801,128.899506,87754700,0.0,0.0
2023-01-09 00:00:00-05:00,129.744803,132.668464,129.168025,129.426575,70790800,0.0,0.0
...,...,...,...,...,...,...,...
2023-12-22 00:00:00-05:00,195.179993,195.410004,192.970001,193.600006,37122800,0.0,0.0
2023-12-26 00:00:00-05:00,193.610001,193.889999,192.830002,193.050003,28919300,0.0,0.0
2023-12-27 00:00:00-05:00,192.490005,193.500000,191.089996,193.149994,48087700,0.0,0.0
2023-12-28 00:00:00-05:00,194.139999,194.660004,193.169998,193.580002,34049900,0.0,0.0
2023-12-29 00:00:00-05:00,193.899994,194.399994,191.729996,192.529999,42628800,0.0,0.0